@media (max-width: 1186px) {
    .big-heading {
        font-size: 6rem;
    }
}

@media (max-width: 1144px) {

    .stay-text {
        font-size: 2rem;
        left: 20%;
    }

    .social {
        font-size: 1rem;
    }
}

@media (max-width: 1029px) {
    .myBtn {
        bottom: 35%;
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .social {
        bottom: 45%;
    }
}

@media (max-width: 960px) {
    .stay-text {
        left: 15%;
    }

    .social {
        bottom: 40%;
    }
}

@media (max-width: 955px) {
    .myBtn {
        font-size: 0.75rem;
    }
}

@media (max-width: 906px) {
    .big-heading {
        font-size: 4rem;
    }
}

@media (max-width: 900px) {
    .stay-text {
        font-size: 1.5rem;
        left: 20%;
    }

    .social {
        font-size: 0.75rem;
        bottom: 45%;
    }
}

@media (max-width: 850px) {
    .header {
        margin-top: 30%;
        text-align: center;
    }

    .myBtn {
        font-size: 0.65rem;
    }
}

@media (max-width: 768px) {
    .nav-link {
        color: #fff;
    }

    .amenities-img {
        margin-bottom: 100px;
    }

    .text-middle {
        margin-top: 100px;
        margin-bottom: 60px;
    }

}

@media (max-width: 766px) {
    .stay-text {
        font-size: 3rem;
        left: 27%;
    }

    .social {
        font-size: 1.5rem;
        bottom: 50%;
        left: 11%;
    }

    .myBtn {
        font-size: 1.5rem;
    }
}

@media (max-width: 610px) {
    .social {
        bottom: 50%;
    }
}

@media (max-width: 576px) {
    .stay-text {
        font-size: 3rem;
        left: 18%;
    }
}